language: go
go:
  - "1.10"
  - "1.9"
  - "1.8"

install:
  - go get github.com/golang/dep/cmd/dep
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - dep ensure

script:
  - go test -v -covermode=count -coverprofile=coverage.out
  - $GOPATH/bin/goveralls -coverprofile=coverage.out -service=travis-ci

